# The format for your credentials
http://github.com/username/project:
  account: http://my_subdomain.lighthouseapp.com
  project: Lighthouse project number
  default_token: Lighthouse API token to use if user token is not found (optional)
  users:
    # Email address should match what each user has registered at Github
    alice@crypt.ru: Alice's Lighthouse API token
    bob@gmail.com: Bob's Lighthouse API token
  secret: params[:secret] must match this value for request to succeed (optional)

# You can specify credentials for any number of github projects
# separately. Here is another stanza with credentials for another
# project.
http://github.com/hallettj/cloudrcs:
  account: http://hallettj.lighthouseapp.com
  project: 13028
  users:
    hallettj@gmail.com: d4f0aacd576f26cdc1d4b2b886c3af342f64ad88  # not my real token
  secret: sewreafparibafmuowryntik7
